.theme {
  &--light {

    --text-1: #121212;
    --text-2: #0070f3;

    --bg-1: #fafafa;
    --bg-2: #ddd;

    --link-1: aqua;
    --link-2: #535bf2;
  }

  &--purple {
    --text-1: #eee;
    --text-2: red;

    --bg-1: rebeccapurple;
    --bg-2: darkmagenta;

    --link-1: aqua;
    --link-2: #535bf2;
  }


  &--oled {
    --text-1: #eee;
    --text-2: #ccc;

    --bg-1: #000;
    --bg-2: #222;

    --link-1: aqua;
    --link-2: darkmagenta;
  }
}


