.tippy-box {

  color: var(--text-1);
  background-color: var(--link-2);
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: 1px solid var(--link-2);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  line-height: 1.5;


}